<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- v IE zaruci podporu najnovsieho dostupneho jadra IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	</head>
	<body class="leftB topB">
		<div class="row ">
		<!-- hlavicka -->
			<div class="col">
				<div class="row">
					<div class="col width100">
						<img src="./img/logo.png" alt="SZH" width="100" height="50">
					</div>
					<div class="col grow4">
						<div class="row bgYellow">
							<div class="col">
								Slovenský zväz hádzanej
							</div>
							<div class="col">
								ZÁPIS O STRETNUTÍ
							</div>
						</div>
						<div class="row noborder">
							<div class="col">
								<div class="row bgYellow">
									<div class="col">
										Súťaž
									</div>
									<div class="col  ">
										Číslo
									</div>
									<div class="col">
										Čas
									</div>
								</div>
								<div class="row noborder">
									<div class="col">
										1
									</div>
									<div class="col  ">
										2
									</div>
									<div class="col">
										3
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row bgYellow">
									<div class="col">
										Dátum
									</div>
									<div class="col">
										Miesto
									</div>
								</div>
								<div class="row noborder">
									<div class="col ">
										1
									</div>
									<div class="col">
										2
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row noborder bgYellow">
									<div class="col ">
										M
									</div>
									<div class="col ">
										<div class="row">
											sd
										</div>
										<div class="row noborder">
											sž
										</div>
									</div>
									<div class="col ">
										<div class="row">
											md
										</div>
										<div class="row noborder">
											mž
										</div>
									</div>
									<div class="col noborder">
										Ž
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row ">
		<!-- A druzstvo B druzstvo -->
			<div class="col grow2 ">
				<div class="row home">
					A Domáci
				</div>
				<div class="row">
					2
				</div>
			</div>
			<div class="col grow2 ">
				<div class="row away">
					B Hostia
				</div>
				<div class="row">
					2
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						Konečný výsledok
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
		<!-- vysledky -->
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						Polčas
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						Výsledok
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						1. Predĺženie
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						2. Predĺženie
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						Po 7m hodoch
					</div>
					<div class="col">
						2
					</div>
					<div class="col">
						3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col bgYellow">
						Diváci
					</div>
					<div class="col">
						2
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
		<!-- blok supisiek a udalosti -->
			<div class="col">
			<!-- blok supisiek-->
				<div class="row home">
				<!-- blok supiska A -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								A
							</div>
							<div class="col">
								Družstvo A
							</div>
						</div>
						<div class="row">
							<div class="col width20">
								Č.
							</div>
							<div class="col">
								Priezvisko, Meno
							</div>
							<div class="col">
								Čislo RP
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<div class="row">
									Góly
								</div>
								<div class="row noborder">
									<div class="col">
										1.polčas
									</div>
									<div class="col">
										2.polčas
									</div>
									<div class="col noborder">
										∑
									</div>
								</div>
							</div>
							<div class="col">
								Tresty
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar A -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								A
							</div>
							<div class="col">
								ZVD:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar B -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								B
							</div>
							<div class="col">
								Tréner:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Licencia:
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								Platnosť do:
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar C -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								C
							</div>
							<div class="col">
								Funkcionári:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Funkcia:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar D -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								D
							</div>
							<div class="col">
								Funkcionári:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Funkcia:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- match stats 1 -->
					<div class="col">
						<div class="row">
							<div class="col home">
								Team Time-Out 1:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col home">
								2:
							</div>
							<div class="col">
								2
							</div>
							<div class="col home">
								3:
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- match stats 2 -->
					<div class="col">
						<div class="row">
							<div class="col home">
								Počet 7m hodov:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col home">
								Góly zo 7m:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>

				<div class="row away">
				<!-- blok supiska B -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								B
							</div>
							<div class="col">
								Družstvo B
							</div>
						</div>
						<div class="row">
							<div class="col width20">
								Č.
							</div>
							<div class="col">
								Priezvisko, Meno
							</div>
							<div class="col">
								Číslo RP
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								<div class="row">
									Góly
								</div>
								<div class="row noborder">
									<div class="col">
										1.polčas
									</div>
									<div class="col">
										2.polčas
									</div>
									<div class="col noborder">
										∑
									</div>
								</div>
							</div>
							<div class="col">
								Tresty
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col width20">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar A -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								A
							</div>
							<div class="col">
								ZVD:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar B -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								B
							</div>
							<div class="col">
								Tréner:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Licencia:
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								Platnosť do:
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar C -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								C
							</div>
							<div class="col">
								Funkcionári:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Funkcia:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- funkcionar D -->
					<div class="col">
						<div class="row">
							<div class="col width20">
								D
							</div>
							<div class="col">
								Funkcionári:
							</div>
							<div class="col">
								3
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Funkcia:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- match stats 1 -->
					<div class="col">
						<div class="row">
							<div class="col away">
								Team Time-Out 1:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col away">
								2:
							</div>
							<div class="col">
								2
							</div>
							<div class="col away">
								3:
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<!-- match stats 2 -->
					<div class="col">
						<div class="row">
							<div class="col away">
								Počet 7m hodov:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col away">
								Góly zo 7m:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<!-- delegovane osoby -->
					<div class="col">
						<div class="row">
							<div class="col">
								Hl. usporiadateľ:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Zdravotná služba:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Časomerač:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Hlásateľ:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row home">
							<div class="col">
								Podpis ZVD A:
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row away">
							<div class="col">
								Podpis ZVD B:
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Zapisovateľ:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Rozhodca:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Rozhodca:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Delegát:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Podpis:
							</div>
							<div class="col">
								2
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
			<!-- udalosti -->
				<div class="row">
					<div class="col">
					<!-- 1.polcas -->
						<div class="row">
							<div class="col">
								<div class="row">
									1.polčas
								</div>
								<div class="row">
									<div class="col">
										m's''
									</div>
									<div class="col">
										A
									</div>
									<div class="col">
										B
									</div>
									<div class="col noborder">
										akcia
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>

					<div class="col">
					<!-- 2.polcas -->
						<div class="row">
							<div class="col">
								<div class="row">
									2.polčas
								</div>
								<div class="row">
									<div class="col">
										m's''
									</div>
									<div class="col">
										A
									</div>
									<div class="col">
										B
									</div>
									<div class="col noborder">
										akcia
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
						<div class="row">
							<div class="col">
								1
							</div>
							<div class="col">
								2
							</div>
							<div class="col">
								3
							</div>
							<div class="col">
								4
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>